<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <center>
        <h1>Home</h1>
        <br/>
        <h1>level:<%= data.level%></h1>
        <a href="homeAdmin/books" class="btn btn-primary">List Books</a> </br>
        <a href="homeAdmin/users" class="btn btn-primary">List User</a> </br>
        <a href="homeAdmin/history" class="btn btn-primary">List Transaction</a> </br>
        <a href="logout" class="">logout</a>
    </center>
</body>
</html>